body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(76, 74, 74);
  color: white;
}

.modo-escuro {
  background-color: black;
}

.modo-escuro .cartao-pokemon{
  background-color: rgb(118, 116, 116);
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header.imagem-botao:hover,
header.cartao-pokemon:hover {
  transform: scale(1.05);
  cursor: pointer;
}

main {
  padding: 25px;
}

.listagem-pokemon {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

main .cartao-pokemon {
	background-color: grey;
	width: 300px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 15px;
	transition: 0.2s ease-in-out;
}

.cartao-pokemon:hover {
  background-color: #96d996;
  color: #333333;
}

.cartao-pokemon .informacoes {
  display: flex;
  justify-content: space-between;
  border: 2px solid #333333;
  border-radius: 10px;
}

.cartao-pokemon .informacoes span {
  padding: 5px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bolder   ;
}

.cartao-pokemon .gif {
  width: 80px;
  height: 80px;
}

.tipos {
  display: flex;
  gap: 15px;
}

.tipo {
  padding: 8px;
  border-radius: 10px;
}

.grama {
  background-color: forestgreen;
  color: white;   
}

.veneno {
  background-color: #df67ddfb;
  color: white;
}

.fogo {
  background-color: #ee8130;
  color: white;
}

.agua {
  background-color: #6390f0;
  color: white;
}

.voador {
  background-color: grey;
  color: white;
}

.inseto {
  background-color: rgb(137, 193, 137);
  color:white;
}

.descricao {
  max-height: 75px;
  overflow-y: scroll;
  font-size: 20px;
  padding-right: 10px;
}

h1 {
  border-radius: 15px;
  text-align: center;
  width: 400px;
  color: white;
  opacity: 50;
  font-family: 'VT323', monospace;
  font-size: 50px;
}